
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #101b47;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
}

.buttons {
    display: flex;
    gap: 2rem;
}

.role-btn {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.role-btn:hover {
    background-color: #0056b3;
}